body{
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-fluid{
    /* border: 10px solid gold; */
    /* height: 40vw;
    width: 40vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-container{
    padding: 20px;
    border-radius: 50px;
    box-shadow : 5px 5px 20px 5px black ;
    box-sizing: border-box;
    text-align: center;
}
.num{
    font-size: 100px;
    color: white ;
}
.dot{
    font-size: 100px;
    position: relative;
    top: -10px;
}
.format{
    font-size: 50px;
}